<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="ion-text-center">
    <h1>D&D Races App</h1>
    <ion-card>
      <img src="assets/img/d20Gold.png" class="ion-padding"/>
      <ion-card-header>
        <ion-card-title>Lennert Verwimp</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Dungeons and Dragons is one of my passions so as a school project I created this app.
      </ion-card-content>
      <ion-card-content>
        This app is build on <ion-icon name="logo-ionic"></ion-icon> ionic
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
